CIMS/MS Flows/Copy Notes From Lead to Contact.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"dynamicscrmonline_Connection_Name":{"defaultValue":"dynamicscrmonline","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"recurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicscrmonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org90a793b4.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/onnewitems","authentication":"@parameters('$authentication')"},"description":"When Contact record is created"}},"actions":{"Get_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicscrmonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org90a793b4.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['contactid']))}","authentication":"@parameters('$authentication')"},"description":"Get the contact record"},"Get_record_-_Leads_via_Originating_Lead":{"runAfter":{"Get_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicscrmonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org90a793b4.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('leads'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_record')?['_originatingleadid_value']))}","authentication":"@parameters('$authentication')"}},"List_records_-_List_of_Notes_from_Leads":{"runAfter":{"Get_record_-_Leads_via_Originating_Lead":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicscrmonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org90a793b4.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('annotations'))}/items","authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('List_records_-_List_of_Notes_from_Leads')?['value']","actions":{"Condition":{"actions":{"Condition_-_if_Lead_=_note's_lead":{"actions":{"Create_a_new_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicscrmonline']['connectionId']"}},"method":"post","body":{"subject":"@items('Apply_to_each')?['subject']","notetext":"@items('Apply_to_each')?['notetext']","isdocument":false,"documentbody":"@items('Apply_to_each')?['documentbody']","filename":"@items('Apply_to_each')?['filename']","mimetype":"@items('Apply_to_each')?['mimetype']","_ownerid_value":"@items('Apply_to_each')?['_ownerid_value']","_ownerid_type":"systemusers","_objectid_value":"@body('Get_record')?['contactid']","_objectid_type":"contacts"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('org90a793b4.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('annotations'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":"@equals(body('Get_record_-_Leads_via_Originating_Lead')?['leadid'], items('Apply_to_each')?['_objectid_value'])","type":"If"}},"runAfter":{},"expression":"@equals(body('Get_record_-_Leads_via_Originating_Lead')?['leadid'], triggerBody()?['_originatingleadid_value'])","type":"If"}},"runAfter":{"List_records_-_List_of_Notes_from_Leads":["Succeeded"]},"type":"Foreach"}}},"parameters":{"$connections":{"value":{"dynamicscrmonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicscrmonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_Connection_Name'))]","connectionName":"[parameters('dynamicscrmonline_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('dynamicscrmonline_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicscrmonline')]"},"displayName":"[parameters('dynamicscrmonline_Connection_Name')]"}}]}